@model Designation

<form method="post" asp-action="Delete">
    <input asp-for="DesignationId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Employee</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label>Designation ID</label>
            <input asp-for="DesignationId" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DesignationName"></label>
            <input asp-for="DesignationName" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Designation" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>
</form>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial"/>
}
}